#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  gap: 10px;
  padding-top: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(149, 187, 192);
}

div {
  font-size: 2rem;
}

.card-container {
  justify-content: center;
  min-height: 450px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  object-fit: scale-down;
  gap: 30px;
  position: relative;
}

img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  object-position: center, center;
  border-radius: 10px;
  cursor: grab;
}

h1, h2 {
  margin-block-start: 0rem;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(149, 187, 192);
  z-index: 1;
}

.spinner {

  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #3d5af1 transparent #3d5af1 transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}